<div id="mySidenav" class="sidenav">
  <div class="sidenav-wrapper">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
      <svg
        id="Group_24924"
        data-name="Group 24924"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="18"
        height="18"
        viewBox="0 0 25 25"
      >
        <defs>
        <clipPath id="clip-path">
        <rect id="Rectangle_8252" data-name="Rectangle 8252" width="18" height="18" fill="currentcolor"></rect>
        </clipPath>
        </defs>
        <g id="Group_24923" data-name="Group 24923">
        <path id="Path_38934" data-name="Path 38934" d="M23.214,25a1.78,1.78,0,0,1-1.263-.523L.523,3.048A1.786,1.786,0,0,1,3.048.523L24.477,21.952A1.786,1.786,0,0,1,23.214,25" transform="translate(0)" fill="currentcolor"></path>
        <path id="Path_38935" data-name="Path 38935" d="M1.786,25A1.786,1.786,0,0,1,.523,21.952L21.952.523a1.786,1.786,0,1,1,2.525,2.525L3.048,24.477A1.78,1.78,0,0,1,1.786,25" transform="translate(0 0)" fill="currentcolor"></path>
        </g>
      </svg>
    </a>
    {% if section.settings.sidebar_logo != blank %}
      <div class="sidebar-logo">
        <a href="{{ routes.root_url }}">
          <img
            srcset="{{  section.settings.sidebar_logo | image_url: width:  section.settings.sidebar_logo_width }}, {{  section.settings.sidebar_logo | image_url: width: image_size_2x }} 2x"
            src="{{  section.settings.sidebar_logo | image_url: width: 400 }}"
            alt="{{  section.settings.sidebar_logo.alt | escape }}"
            loading="lazy"
            width="{{  section.settings.sidebar_logo.width }}"
            height="{{  section.settings.sidebar_logo.height }}"
            style="max-width: min(100%, {{  section.settings.sidebar_logo_width }}px);"
          >
        </a>
      </div>
    {% endif %}
    {% if section.settings.sidebar_text != blank %}
      <p class="sidebar-text">{{ section.settings.sidebar_text }}</p>
    {% endif %}
    {% if section.settings.sidebar_button_link != blank %}
      <a href="{{ section.settings.sidebar_button_link }}" class="button sidebar-button">
        {{- section.settings.sidebar_button -}}
      </a>
    {% endif %}
    <div class="img_grid">
      <li class="insta-bar__item">
        {% if section.settings.side_img_1 != blank %}
          <img
            src="{{ section.settings.side_img_1 | image_url: width: 350 }}"
            width="{{ section.settings.side_img_1.width }}"
            height="{{ section.settings.side_img_1.height }}"
            loading="lazy"
          >
        {% else %}
          {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="image-overlay">
          <a href="{{ link.url }}"><i class="fa fa-instagram"></i></a>
        </div>
      </li>
      <li class="insta-bar__item">
        {% if section.settings.side_img_2 != blank %}
          <img
            src="{{ section.settings.side_img_2 | image_url: width: 350 }}"
            width="{{ section.settings.side_img_2.width }}"
            height="{{ section.settings.side_img_2.height }}"
            loading="lazy"
          >
        {% else %}
          {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="image-overlay">
          <a href="{{ link.url }}"><i class="fa fa-instagram"></i></a>
        </div>
      </li>
      <li class="insta-bar__item">
        {% if section.settings.side_img_3 != blank %}
          <img
            src="{{ section.settings.side_img_3 | image_url: width: 350 }}"
            width="{{ section.settings.side_img_3.width }}"
            height="{{ section.settings.side_img_3.height }}"
            loading="lazy"
          >
        {% else %}
          {{ 'product-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="image-overlay">
          <a href="{{ link.url }}"><i class="fa fa-instagram"></i></a>
        </div>
      </li>
      <li class="insta-bar__item">
        {% if section.settings.side_img_4 != blank %}
          <img
            src="{{ section.settings.side_img_4 | image_url: width: 350 }}"
            width="{{ section.settings.side_img_4.width }}"
            height="{{ section.settings.side_img_4.height }}"
            loading="lazy"
          >
        {% else %}
          {{ 'product-apparel-4' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="image-overlay">
          <a href="{{ link.url }}"><i class="fa fa-instagram"></i></a>
        </div>
      </li>
      <li class="insta-bar__item">
        {% if section.settings.side_img_5 != blank %}
          <img
            src="{{ section.settings.side_img_5 | image_url: width: 350 }}"
            width="{{ section.settings.side_img_5.width }}"
            height="{{ section.settings.side_img_5.height }}"
            loading="lazy"
          >
        {% else %}
          {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="image-overlay">
          <a href="{{ link.url }}"><i class="fa fa-instagram"></i></a>
        </div>
      </li>
      <li class="insta-bar__item">
        {% if section.settings.side_img_6 != blank %}
          <img
            src="{{ section.settings.side_img_6 | image_url: width: 350 }}"
            width="{{ section.settings.side_img_6.width }}"
            height="{{ section.settings.side_img_6.height }}"
            loading="lazy"
          >
        {% else %}
          {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="image-overlay">
          <a href="{{ link.url }}"><i class="fa fa-instagram"></i></a>
        </div>
      </li>
    </div>
    {% if section.settings.enable_social_icons %}
      <div class="soical-blocks">
        {% if section.settings['sidebar_social-heading'] != blank %}
          <h4 class="social-heading">{{ section.settings['sidebar_social-heading'] }}</h4>
        {% endif %}
        <ul class="circle-social-icons dt-sc-social-icons  dt-sc-list-inline">
          {% render 'social-icons' %}
        </ul>
      </div>
    {% endif %}

    {% if section.settings.sidebar_phone_no or section.settings.sidebar_mail_id != blank %}
      <div class="contact-info">
        <div class="heading">
          <h5>{{ section.settings['sidebar_contact-heading'] }}</h5>
        </div>
        {% if section.settings.sidebar_phone_no != blank %}
          <div class="header-phone">
            <p>
              {{ section.settings.sidebar_phone_no_heading }}:
              <a href="tel:{{ section.settings.sidebar_phone_no }}">{{ section.settings.sidebar_phone_no }}</a>
            </p>
          </div>
        {% endif %}
        {% if section.settings.sidebar_mail_id != blank %}
          <div class="header-email">
            <p>
              {{ section.settings.sidebar_mail_id_heading }}:
              <a href="mailto:{{ section.settings.sidebar_mail_id }}">{{ section.settings.sidebar_mail_id }}</a>
            </p>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
<style>
    .header__icons .sidenav {
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: flex-end;
      background-color: rgba(var(--color-overlay),0.85);
      transition: visibility var(--duration-default) linear;
     visibility: hidden;
      overflow:hidden;
  }
  .sidenav.active {visibility: visible;}
  .header__icons #openDrawerButton {
      background: transparent;
      border: none;
  }
  /* .header__icons #openDrawerButton.navbg:after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(var(--color-foreground),.5);
      width: 100%;
      height: 100%;
      z-index: 16;
  }   */
  .header__icons .sidenav .list-social__item {
      list-style: none;
      float: left;
      padding: 0;
  }

  .sidenav.active .sidenav-wrapper {
      transform: translate(0);
  }

  .sidenav .sidenav-wrapper {
      height: 100vh;
      width: 45rem;
      max-width: calc(100vw - 3rem);
      border: 0.1rem solid rgba(var(--color-foreground),.2);
      border-right: 0;
      background-color: var(--gradient-base-background-1);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      transform: translate(100%);
      transition: transform var(--duration-default) ease;
      overflow-y: scroll;
      padding: 30px;
      /* justify-content: center; */
  }
  .sidenav .closebtn{
      display: flex;
      padding: 0;
      min-width: 1.4rem;
      min-height: 1.4rem;
      box-shadow: 0 0 0 0.2rem rgba(var(--color-button),0);
      position: absolute;
      top: 15px;
      right: 15px;
      color: rgb(var(--color-foreground));
      background-color: transparent;
      border: none;
      cursor: pointer;
      align-items: center;
      justify-content: center;
  }
  .sidenav .closebtn svg{width:1.8rem;height:1.8rem;}
  .sidenav .sidebar-logo{margin-bottom:20px;}
  .sidenav .sidebar-text{margin:0 0 20px;}
  .sidenav  .sidebar-button{width:max-content;}
  .sidenav .soical-blocks .social-heading{margin:0 0 20px;font-size: 30px; text-transform: capitalize;}
  .sidenav .soical-blocks .dt-sc-social-icons{padding:0;margin:0;}
  .sidenav .soical-blocks,
  .sidenav  .contact-info,
  .sidenav  .img_grid{margin-top:60px;}
  .sidenav  .contact-info .heading h5{margin:0 0 20px;font-size: 30px; text-transform: capitalize;}
  .header__icons .sidenav .list-social__item .list-social__link{width:30px;height:30px;padding:0;border-radius:50%;border:2px solid rgb(var(--color-foreground),.35) ;justify-content: center;}
  .header__icons .sidenav .list-social__item:not(:last-child) .list-social__link{margin-right:15px;}
  .header__icons .sidenav .list-social__item  .icon{width:1.4rem;height:1.4rem;}
  .header__icons .sidenav .list-social__item .list-social__link:hover{
      color: rgb(var(--color-base-solid-button-labels));
      border-color: rgba(var(--color-base-solid-button-labels));
  }
  .header__icons .sidenav .contact-info  div p{margin:0;}
  .header__icons .sidenav .contact-info .header-phone{margin-bottom:10px;}
  .header__icons .sidenav .button.sidebar-button{    color: rgba(var(--color-button-hover-text));}

  .img_grid .insta-bar__item {list-style:none;    position: relative;display:flex;}
  .img_grid .insta-bar__item img{width:100%;height:100%;border-radius: var(--card-corner-radius);}
  .img_grid .insta-bar__item:hover .image-overlay i{ opacity:1;transition:all 0.3s linear; }
  .img_grid .insta-bar__item .image-overlay i{transition:all 0.3s linear;  font-size: 14px;  opacity: 0;}
  .img_grid .insta-bar__item .image-overlay { position: absolute; height: 100%; width: 100%;  display: grid; align-content: center;  justify-content: center; top: 0;  left: 0;  flex-direction: column;  gap: 15px;  opacity: 1;background: rgba(var(--color-base-background-1),0.7);transition: all 0.3s linear;opacity:0;transform: scale(0.6);-webkit-transform: scale(0.6);}
  .img_grid .insta-bar__item:hover .image-overlay{ opacity:1;transform: scale(1);-webkit-transform: scale(1);}
  .img_grid .insta-bar__item .image-overlay a{
     width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .img_grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }
  @media screen and (max-width: 400px){
    .sidenav .sidenav-wrapper .sidebar-logo img{width:120px;}
  }
</style>
